<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <!-- Все адреса в thymeleaf мы пишем через @ и фигурные скобки-->
    <!-- Объект под этим ключом "person", который мы положили в молель. Для этого объекта будет создаваться форма-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    </br>
    <input type="submit" value="Create"/>
</form>
</body>
</html>