<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Groups</title>

    <style>
        tbody {
            counter-reset: heading;
        }

        .count:before {
            counter-increment: heading;
            content: counter(heading);
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="table-title">
        <div class="row row-col-auto">
            <div class="col my-2">
                <form method="GET" action="/">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i>
                        <span>Main</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#filterGroups">
                    <i class="bi bi-funnel"></i>
                    <span>Filter groups</span></a>
                </button>
            </div>
            <div class="col-lg-auto my-2">
                <form method="GET" th:action="@{/groups}">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-funnel"></i>
                        <i class="bi bi-x"></i>
                        <span>Reset filter</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#addNewGroup">
                    <i class="bi bi-plus-circle"></i>
                    <span>Add New Group</span>
                </button>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllGroups">
                    <i class="bi bi-trash"></i>
                    <span>Delete All Groups</span>
                </button>
            </div>
        </div>
        <div class="row row-col-auto">
            <div class="col my-2">
                <h2>Groups</h2>
            </div>
        </div>
    </div>

    <div class="table-responsive-xl">
        <table class="table table-hover table-bordered border-primary">
            <div class="table-wrapper">
                <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td class="count"/>
                    <td>
                        <a class="link-primary" th:href="@{/groups/{id}(id=${group.id})}"
                           th:text="${group.name}"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#editGroup" th:attr="data-bs-target=${'#editGroup'+group.id}"
                                data-row="${group}"
                                title="Edit">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteGroup" th:attr="data-bs-target=${'#deleteGroup'+group.id}"
                                data-row="${group}"
                                title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>

<div class="modal fade" id="filterGroups">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Groups with less or equals student count</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="GET"
                      action="/groups/filter">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-auto">
                                <label for="numberStudents" class="col-form-label">Number of students:</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="numberStudents" class="form-control" name="numberStudents">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewGroup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form th:method="POST" th:action="@{/groups}" th:object="${group}">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-auto">
                                    <label for="newName" class="col-form-label">Name:</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" name="name" id="newName"/>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAllGroups">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete All Groups</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/groups}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editGroup"
     th:each="group : ${groups}" th:attr="id=${'editGroup' + group.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit a group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PATCH" th:action="@{/groups/{id}(id=${group.id})}" th:object="${group}">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="*{name}"/>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteGroup"
     th:each="group : ${groups}" th:attr="id=${'deleteGroup' + group.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete a group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/groups/{id}(id=${group.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>`