<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Courses</title>

    <style>
        tbody {
            counter-reset: heading;
        }

        .count:before {
            counter-increment: heading;
            content: counter(heading);
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="table-title">
        <div class="row row-col-auto">
            <div class="col my-2">
                <form method="GET" action="/">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i>
                        <span>Main</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-auto">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#addNewCourse">
                    <i class="bi bi-plus-circle"></i>
                    <span>Add New Course</span></a>
                </button>
            </div>
            <div class="col-lg-auto">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllCourses">
                    <i class="bi bi-trash"></i>
                    <span>Delete All Courses</span></a>
                </button>
            </div>
        </div>
        <div class="row row-col-auto">
            <div class="col my-2">
                <h2>Courses</h2>
            </div>
        </div>
    </div>

    <div class="table-responsive-xl">
        <table class="table table-hover table-bordered border-primary">
            <div class="table-wrapper">
                <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}">
                    <td class="count"/>
                    <td>
                        <a class="link-primary" th:href="@{/courses/{id}(id=${course.id})}"
                           th:text="${course.name}"/>
                    </td>
                    <td th:text="${course.description}"/>
                    <td>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#editCourse" th:attr="data-bs-target=${'#editCourse'+course.id}"
                                data-row="${course}"
                                title="Edit">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteCourse" th:attr="data-bs-target=${'#deleteCourse'+course.id}"
                                data-row="${course}"
                                title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>

<div class="modal fade" id="addNewCourse" tabindex="-1" aria-labelledby="addNewCourseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewCourseLabel">Add New Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="POST" th:action="@{/courses}">
                    <div class="mb-3">
                        <label for="newName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="newName"/>
                    </div>

                    <div class="mb-3">
                        <label for="newDescription" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" name="description" id="newDescription"/>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAllCourses" tabindex="-1" aria-labelledby="deleteAllCoursesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAllCoursesLabel">Delete All Courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/courses}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="editCourseLabel" aria-hidden="true"
     th:each="course : ${courses}" th:attr="id=${'editCourse' + course.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCourseLabel">Edit a course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PATCH" th:action="@{/courses/{id}(id=${course.id})}" th:object="${course}">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="*{name}"/>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="description" name="description"
                               th:value="*{description}"/>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="deleteCourseLabel" aria-hidden="true"
     th:each="course : ${courses}" th:attr="id=${'deleteCourse' + course.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCourseLabel">Delete a course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/courses/{id}(id=${course.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>