<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Students</title>

    <style>
        tbody {
            counter-reset: heading;
        }

        .count:before {
            counter-increment: heading;
            content: counter(heading);
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="table-title">
        <div class="row row-col-auto">
            <div class="col my-2">
                <form method="GET" action="/">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i>
                        <span>Main</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#filterStudents">
                    <i class="bi bi-funnel"></i>
                    <span>Filter Students By Courses</span></a>
                </button>
            </div>
            <div class="col-lg-auto my-2">
                <form method="GET" th:action="@{/students}">
                    <button type="submit" class="btn btn-outline-primary"/>
                    <i class="bi bi-funnel"></i>
                    <i class="bi bi-x"></i>
                    <span>Reset filter</span></a>
                    </button>
                </form>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#addNewStudent">
                    <i class="bi bi-plus-circle"></i>
                    <span>Add New Student</span></a>
                </button>
            </div>
            <div class="col-lg-auto my-2">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllStudents">
                    <i class="bi bi-trash"></i>
                    <span>Delete All Students</span></a>
                </button>
            </div>
        </div>
        <div class="row row-col-auto">
            <div class="col my-2">
                <h2>Students</h2>
            </div>
        </div>
    </div>

    <div class="table-responsive-xl">
        <table class="table table-hover table-bordered border-primary">
            <div class="table-wrapper">
                <thead class="table-secondary">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Group</th>
                    <th>Courses</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td class="count"/>
                    <td>
                        <a class="link-primary" th:href="@{/students/{id}(id=${student.id})}"
                           th:text="${student.firstName}"/>
                    </td>
                    <td>
                        <a class="link-primary" th:href="@{/students/{id}(id=${student.id})}"
                           th:text="${student.lastName}"/>
                    </td>
                    <td th:text="${student?.group?.name}"/>
                    <td>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#showCourses"
                                th:attr="data-bs-target=${'#showCourses'+student.id}"
                                data-row="${student}"
                                title="List of courses">
                            <i class="bi bi-box-arrow-up-right"></i>
                            <i class="bi bi-book"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#addCourses"
                                th:attr="data-bs-target=${'#addCourses'+student.id}"
                                title="Assign student to courses">
                            <i class="bi bi-plus-circle"></i>
                            <i class="bi bi-book"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#removeCourses"
                                th:attr="data-bs-target=${'#removeCourses'+student.id}"
                                title="Remove student from courses">
                            <i class="bi bi-trash"></i>
                            <i class="bi bi-book"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#editStudent" th:attr="data-bs-target=${'#editStudent'+student.id}"
                                data-row="${student}"
                                title="Edit">
                            <i class="bi bi-pen"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteStudent" th:attr="data-bs-target=${'#deleteStudent'+student.id}"
                                data-row="${student}"
                                title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>

<div class="modal fade" id="filterStudents">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select courses for students</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="GET" th:action="@{/students/filter}" th:object="${student}">
                    <div class="mb-3" th:object="${wrapperCoursesId}">
                        <label for="addCoursesFilter" class="col-form-label">Select the courses to add:</label>
                        <select class="form-select" th:field="*{coursesId}" size="5" id="addCoursesFilter"
                                multiple="multiple">
                            <option th:each="course : ${courses}"
                                    th:value="${course.id}"
                                    th:text="${course.name}">
                            </option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewStudent" tabindex="-1" aria-labelledby="addNewStudentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewStudentLabel">Add New Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${student}" method="POST" th:action="@{/students}">
                    <div class="mb-3">
                        <label for="newFirstName" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" name="firstName" id="newFirstName"/>
                    </div>

                    <div class="mb-3">
                        <label for="newLastName" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" name="lastName" id="newLastName"/>
                    </div>

                    <div class="mb-3">
                        <label for="newGroup" class="col-form-label">Group:</label>
                        <select class="form-select" name="group.id" id="newGroup">
                            <option th:each="newGroup : ${groups}" th:text="${newGroup.name}" th:value="${newGroup.id}">
                            </option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAllStudents" tabindex="-1" aria-labelledby="deleteAllStudentsLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAllStudentsLabel">Delete All Students</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/students}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showCourses" tabindex="-1" aria-labelledby="studentCoursesLabel" aria-hidden="true"
     th:each="student : ${students}" th:attr="id=${'showCourses' + student.id}">>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentCoursesLabel">Student Courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive-xl">
                        <table class="table table-hover table-bordered border-primary">
                            <div class="table-wrapper">
                                <thead class="table-secondary">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="course : ${student.courses}">
                                    <td class="count"/>
                                    <td th:text="${course.name}"/>
                                    <td th:text="${course.description}"/>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeCourses"
     th:each="student : ${students}" th:attr="id=${'removeCourses' + student.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove student from courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="DELETE" th:action="@{/students/{id}/courses(id=${student.id})}"
                      th:object="${student}">
                    <div class="mb-3" th:object="${wrapperCoursesId}">
                        <label for="removeCoursesLb" class="col-form-label">Select courses for remove:</label>
                        <select class="form-select" th:field="*{coursesId}" size="5" id="removeCoursesLb"
                                multiple="multiple">
                            <option th:each="course : ${student.courses}"
                                    th:value="${course.id}"
                                    th:text="${course.name}">
                            </option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCourses"
     th:each="student : ${students}" th:attr="id=${'addCourses' + student.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign student to courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Current student courses:</p>
                <p th:each="course : ${student.courses}" th:text="${course.name}" class="fw-semibold"></p>
                <form th:method="PATCH" th:action="@{/students/{id}/courses(id=${student.id})}"
                      th:object="${student}">
                    <div class="mb-3" th:object="${wrapperCoursesId}">
                        <label for="addCoursesLb" class="col-form-label">Select the courses to add:</label>
                        <select class="form-select" th:field="*{coursesId}" size="5" id="addCoursesLb"
                                multiple="multiple">
                            <option th:each="course : ${courses}"
                                    th:value="${course.id}"
                                    th:text="${course.name}">
                            </option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStudent" tabindex="-1" aria-labelledby="editStudentLabel" aria-hidden="true"
     th:each="student : ${students}" th:attr="id=${'editStudent' + student.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editStudentLabel">Edit a student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PATCH" th:action="@{/students/{id}(id=${student.id})}" th:object="${student}">
                    <div class="mb-3">
                        <label for="editFirstName" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" name="firstName" id="editFirstName"
                               th:value="*{firstName}"/>
                    </div>

                    <div class="mb-3">
                        <label for="editLastName" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" name="lastName" id="editLastName"
                               th:value="*{lastName}"/>
                    </div>

                    <div class="mb-3">
                        <label for="editGroup" class="col-form-label">Group:</label>
                        <select class="form-select" name="group.id" id="editGroup">
                            <option th:each="newGroup : ${groups}" th:text="${newGroup.name}" th:value="${newGroup.id}">
                            </option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="update" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteStudent" tabindex="-1" aria-labelledby="deleteStudentLabel" aria-hidden="true"
     th:each="student : ${students}" th:attr="id=${'deleteStudent' + student.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentLabel">Delete a student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this record?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form th:method="DELETE" th:action="@{/students/{id}(id=${student.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>